# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress


# BEGIN enable-cors
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires "0"

	<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css|woff2|avifs?|bmp|cur|gif|ico|jpe?g|jxl|a?png|svgz?|webp)$">
		Header set Access-Control-Allow-Origin "*"
		Header set Access-Control-Allow-Credentials "true"
	</FilesMatch>
</IfModule>
# END enable-cors
